<div>
  <div>
    <h1>Supported backend</h1>
    <p ng-repeat="backEnd in backEndOptions track by $index">{{($index+1) +". " + backEnd}}</p>
  </div>
  <div>
    <h1>test creating 1 empty arrays  of size 1*N</h1>
    <button ng-click=runTest1()>Start Test</button><br/>
    <p>{{res1}}</p>
      <div class = "benchChart">
        <canvas id="bar" class="chart chart-bar" chart-data="res1" chart-labels="labels"  chart-legend="true" chart-series="series"></canvas>
      </div>

  </div>
  <div>
    <h1>test creating N empty arrays  of size 1*{{SIZE}}</h1>
    <button ng-click=runTest2()>Start Test</button><br/>
    <code>{{res2}}</code>
    <div class = "benchChart">
      <canvas id="bar" class="chart chart-bar" chart-data="res2" chart-labels="TEST_NUMS"  chart-legend="true" chart-series="series"></canvas>
    </div>
  </div>

  <div>
    <h1>test matrix adding n matrix of size 100*100</h1>
    <button ng-click=runTest3()>Start Test</button><br/>
    <code>{{res3}}</code>
    <div class = "benchChart">
      <canvas id="bar" class="chart chart-bar" chart-data="res3" chart-labels="TIMES"  chart-legend="true" chart-series="series"></canvas>
    </div>
  </div>

  <div>
    <h1>test matrix addf32</h1>
    <button ng-click=testAddF32()>Start Test</button><br/>
    <code>{{addF32}}</code>
  </div>

  <div>
    <h1>test matrix subf32</h1>
    <button ng-click=testSubF32()>Start Test</button><br/>
    <code>{{subF32}}</code>
  </div>

  <div>
    <h1>test matrix expf32</h1>
    <button ng-click=testExpF32()>Start Test</button><br/>
    <code>{{expF32}}</code>
  </div>

  <div>
    <h1>test matrix logf32</h1>
    <button ng-click=testLogF32()>Start Test</button><br/>
    <code>{{logF32}}</code>
  </div>

  <div>
    <h1>test matrix maxf32</h1>
    <button ng-click=testMaxF32()>Start Test</button><br/>
    <code>{{maxF32}}</code>
  </div>

  <div>
    <h1>test matrix minf32</h1>
    <button ng-click=testMinF32()>Start Test</button><br/>
    <code>{{minF32}}</code>
  </div>
</div>